
  <div>
    <div *ngFor="let task of tasks" class="card" style="width: 18rem;">
      <div class="card-body" [ngClass]="{'task-done': task.status === 'done'}">
        <button (click)="deleteTask(task)">Delete</button>
        <h5 class="card-title">{{task.title}}</h5>
        <h6 class="card-subtitle mb-2 text-muted">{{task.date}}</h6>
        <p class="card-text">Hello World</p>
        <a href="#" class="card-link" *ngIf="task.status !== 'done'" (click)="markAsDone(task)">Mark As Done</a>
        
      </div>
    </div>

    <button  (click)="displayAddNewTask()" >New Task</button>

    <form *ngIf="isAddNewTask">
        <input type="text" name="taskTitle" [(ngModel)]="newTask.title" placeholder="Title">
        <button (click)="addTask()">Add</button>        
        
    </form>

  </div>

